<launch>
  <env name="ROSCONSOLE_FORMAT" value="[${severity}] [${time}]: ${node}: ${message}"/>

  <node pkg="safety_feature" type="acoustic_safety" name="safety_feature" output="screen">
    <param name="SAFETY_PORT" value="10111" />
    <param name="RATE" value="1.0" />
    <param name="name" value="3" type="str"/>
  </node>

  <!-- Safety feature underwater -->
  <node name="rostopic_surface_safety" pkg="rostopic" type="rostopic" output="screen" args="pub /safety_feature/surface_vehicle std_msgs/String &quot;data: '2' &quot; -r 1"/>
</launch>
