<launch>

  <env name="ROSCONSOLE_FORMAT" value="[${severity}] [${time}]: ${node}: ${message}"/>

	<arg name="name"   default="myellow"/>

  <node pkg="inner_loops_forces" type="inner_loops_forces" name="inner_loops" output="screen" respawn="true">
    <!-- Parameters -->
    <rosparam command="load" file="$(find inner_loops_forces)/config/inner_$(arg name).yaml"/>
    <rosparam command="load" file="$(find inner_loops_forces)/config/topics/inner_forces_topics.yaml"/>
  </node>

</launch>
