<?xml version="1.0"?>
<launch>

	<!-- Parameters and Arguments -->
    <arg name="name"            /> 	                         <!-- Name of the vehicle being launched -->   
    <arg name="config_package_path"  /> 	                 <!-- Name of the package where the configuration files are stored -->
    <arg name="folder"              default="simulation" />  <!-- Name of the folder for the configuration files -->   
	<arg name="namespace"           default="false" />

	<arg name="onebag" 				default="false" />
	<arg name="prefix" 			    default="$(arg name)" />
	<arg name="bags_folder"         default="$(env ROS_BAG_FOLDER)/ROSData"	/>
	<arg name="not_medusa_topics" 	value="/$(arg folder)(.*)|/tf_$(arg folder)" />
	<arg name="ignore_topics" 		value="/map|/camera(.*)|/air(.*)camera(.*)|/stereo(.*)"	/>
	<arg name="split" 				value="--split --size=1024"	/> <!-- MB -->
	
	<group if="$(arg onebag)">
		<!-- store everything in one bag -->
		<node pkg="rosbag" type="record" name="record_medusa" args="$(arg split) -o $(arg bags_folder)/$(arg prefix)_ -a"/>
	</group>
	
	<group unless="$(arg onebag)">	
		<!-- Record medusa topics -->
		<node pkg="rosbag" type="record" name="record_medusa"     args="$(arg split) -o $(arg bags_folder)/$(arg prefix)_ -a -x '$(arg ignore_topics)|$(arg not_medusa_topics)'"/>
		<!-- Record topics that are not_medusa -->
		<node pkg="rosbag" type="record" name="record_not_medusa" args="$(arg split) -o $(arg bags_folder)/$(arg prefix)_$(arg folder)_ -e '$(arg not_medusa_topics)'"/>
	</group>
</launch>
