<?xml version="1.0"?>
<launch>
  <env name="ROSCONSOLE_FORMAT" value="[${severity}] [${time}]: ${node}: ${message}"/>

  <!-- Parameters and Arguments -->
  <arg name="name"            /> <!-- Name of the vehicle being launched -->   
  <arg name="config_package"  /> <!-- Name of the package where the configuration files are stored -->
  <arg name="folder"          default="simulation" />  <!-- Name of the folder for the configuration files --> 

  <arg name="dsor_paths"      default="false" />

  <group ns="planning">
    <!-- Launch Nodes that are common to all vehicles -->
    <!-- Paths node with service for different paths -->
    <group if="$(arg dsor_paths)">
      <node pkg="dsor_paths" type="dsor_paths_node" name="dsor_paths" output="screen" />
    </group>
  </group>
</launch>