<?xml version="1.0"?>
<launch>
    <env name="ROSCONSOLE_FORMAT" value="[${severity}] [${time}]: ${node}: ${message}"/>

    <!-- Parameters and Arguments -->
    <arg name="name"            /> <!-- Name of the vehicle being launched -->   
    <arg name="config_package"  /> <!-- Name of the package where the configuration files are stored -->
    <arg name="folder"             default="simulation" />  <!-- Name of the folder for the configuration files --> 
    <arg name="dynamics"           default="false"   />
    <arg name="sensors"            default="false"   />

    <group ns="sim" unless="$(eval arg('gazebo'))">
        <!-- Vehicle Specific Config File -->
        <rosparam command="load" file="$(find $(arg config_package))/config/$(arg folder)/$(arg name)/sim.yaml" />

        <!-- Launch Nodes that are common to all vehicles -->
        <!-- dynamics: simulates the dynamics of the vehicle -->
        <group if="$(arg dynamics)">
            <node pkg="dsor_sim" type="dsor_sim_node" name="dsor_sim" respawn="false" output="screen" />
        </group>

        <!-- sensors: simulates the sensors -->
        <group if="$(arg sensors)">
            <node pkg="sensor_sim" type="sensor_sim" name="sensors" respawn="false" output="screen" />
        </group>
    </group>
</launch>
