<?xml version="1.0"?>
<launch>

    <arg name="vehicle" 	default="mblack"/> 	  <!-- mred, mblack, myellow, mvector, medusa -->
    <arg name="joystick"    default="gamesir"/>   <!-- Name of the joystick being used -->
    <arg name="mode"        default="bluetooth"/> <!-- Configurations for both usb and bluetooth -->
    <arg name="references"  default="velocity"/> <!-- Configure sending references in speed, etc or individual thruster commands -->

    <!-- Load the configuration parameters for the topics-->
    <rosparam command="load" file="$(find remote_controller)/config/topics_config/$(arg vehicle).yaml" />

    <!-- Load the configuration parameters for joystick mappings -->
    <rosparam command="load" file="$(find remote_controller)/config/$(arg joystick)_config/$(arg mode).yaml" />

    <!-- Define the logging format -->
    <env name="ROSCONSOLE_FORMAT" value="[${severity}] [${time}]: ${node}: ${message}"/>

    <!-- Launch the actual simulation node -->
    <node pkg="remote_controller" type="RemoteControllerNode.py" name="remote_controller" respawn="false" output="screen" if="$(eval arg('references') == 'velocity')"/>

    <node pkg="remote_controller" type="RemoteControllerThrustersNode.py" name="remote_controller" respawn="false" output="screen" if="$(eval arg('references') == 'thrusters')"/>

</launch>