<?xml version="1.0"?>
<launch>

    <!-- Convert utm data type to gnss-lat/lon -->
    <node pkg="comms_state_broadcaster" type="state_to_gnss" name="Gnss2State" respawn="false" output="screen">
        <rosparam command="load" file="$(find comms_launch)/config/example/gnss_to_state.yaml"/>
    </node>

</launch>
