<?xml version="1.0"?>
<launch>

<!-- a wrapper to convert evologics usbl fixes to medusa type -->
<node pkg="evo_tools" type="dmac_to_medusa_node" name="Dmac2Medusa" respawn="false" output="screen">
	<rosparam command="load" file="$(find evo_tools)/config/example/evo_tools.yaml"/>
</node>

</launch>
